# Capstone 2

# Bankruptcy Prediction

## Data Wrangling

Capstone 2 will identify a maodel that can be used to predict bankruptcy using financial data of reporting companies.

In this step the data files will be read in, combined, organized, summarized and cleaned of missing values. 

The dataset is about bankruptcy prediction of Polish companies. The data was collected from Emerging Markets Information Service (EMIS), which is a database containing information on emerging markets around the world. The bankrupt companies were analyzed in the period 2000-2012, while the still operating companies were evaluated from 2007 to 2013.  The data contains 43405 observations spread over 5 subsets (one per year), with 64 financial ratios for each observation. The dataset is maintained at the UCI machine learning repository.
	https://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data

# Import statements

In [1]:
# Import pandas, matplotlib, seaborn, os, and scipy

from scipy.io import arff
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Load the Data

In [2]:
# Load the 5 data columns in aarf format
# df1 - 1stYear the data contains financial rates from 1st year of the forecasting period and corresponding class label
#that indicates bankruptcy status after 5 years. The data contains 7027 instances (financial statements), 271 represents
#bankrupted companies, 6756 firms that did not bankrupt in the forecasting period.
# df2 - 2ndYear the data contains financial rates from 2nd year of the forecasting period and corresponding class label
#that indicates bankruptcy status after 4 years. The data contains 10173 instances (financial statements), 400 represents
#bankrupted companies, 9773 firms that did not bankrupt in the forecasting period.
# df3 - 3rdYear the data contains financial rates from 3rd year of the forecasting period and corresponding class label
#that indicates bankruptcy status after 3 years. The data contains 10503 instances (financial statements), 495 represents
#bankrupted companies, 10008 firms that did not bankrupt in the forecasting period.
# df4 - 4thYear the data contains financial rates from 4th year of the forecasting period and corresponding class label
#that indicates bankruptcy status after 2 years. The data contains 9792 instances (financial statements), 515 represents
#bankrupted companies, 9277 firms that did not bankrupt in the forecasting period.
# df5 - 5thYear the data contains financial rates from 5th year of the forecasting period and corresponding class label
#that indicates bankruptcy status after 1 year. The data contains 5910 instances (financial statements), 410 represents
#bankrupted companies, 5500 firms that did not bankrupt in the forecasting period.
data1 = arff.loadarff('1year.arff')
df1 = pd.DataFrame(data1[0])
data2 = arff.loadarff('2year.arff')
df2 = pd.DataFrame(data2[0])
data3 = arff.loadarff('3year.arff')
df3 = pd.DataFrame(data3[0])
data4 = arff.loadarff('4year.arff')
df4 = pd.DataFrame(data4[0])
data5 = arff.loadarff('5year.arff')
df5 = pd.DataFrame(data5[0])

##  Data Definitions

In [3]:
#data columns pre computed dictionary

column_dictionary = {
    
    "Variable" : "Ratio",
    "X01" : "net profit / total assets",
    "X02" : "total liabilities / total assets",
    "X03" : "working capital / total assets",
    "X04" : "current assets / short-term liabilities",
    "X05" : "[(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365",
    "X06" : "retained earnings / total assets",
    "X07" : "EBIT / total assets",
    "X08" : "book value of equity / total liabilities",
    "X09"  : "sales / total assets",
    "X10" : "equity / total assets",
    "X11" : "(gross profit + extraordinary items + financial expenses) / total assets",
    "X12" : "gross profit / short-term liabilities",
    "X13" : "(gross profit + depreciation) / sales",
    "X14" : "(gross profit + interest) / total assets",
    "X15" : "(total liabilities * 365) / (gross profit + depreciation)",
    "X16" : "(gross profit + depreciation) / total liabilities",
    "X17" : "total assets / total liabilities",
    "X18" : "gross profit / total assets",
    "X19" : "gross profit / sales",
    "X20" : "(inventory * 365) / sales",
    "X21" : "sales (n) / sales (n-1)",
    "X22" : "profit on operating activities / total assets",
    "X23" : "net profit / sales",
    "X24" : "gross profit (in 3 years) / total assets",
    "X25" : "(equity - share capital) / total assets",
    "X26" : "(net profit + depreciation) / total liabilities",
    "X27" : "profit on operating activities / financial expenses",
    "X28" : "working capital / fixed assets",
    "X29" : "logarithm of total assets",
    "X30" : "(total liabilities - cash) / sales",
    "X31" : "(gross profit + interest) / sales",
    "X32" : "(current liabilities * 365) / cost of products sold",
    "X33" : "operating expenses / short-term liabilities",
    "X34" : "operating expenses / total liabilities",
    "X35"  : "profit on sales / total assets",
    "X36" : "total sales / total assets",
    "X37" : "(current assets - inventories) / long-term liabilities",
    "X38" : "constant capital / total assets",
    "X39" : "profit on sales / sales",
    "X40" : "(current assets - inventory - receivables) / short-term liabilities",
    "X41" : "total liabilities / ((profit on operating activities + depreciation) * (12/365))",
    "X42" : "profit on operating activities / sales",
    "X43" : "rotation receivables + inventory turnover in days",
    "X44" : "(receivables * 365) / sales",
    "X45" : "net profit / inventory",
    "X46" : "(current assets - inventory) / short-term liabilities",
    "X47" : "(inventory * 365) / cost of products sold",
    "X48" : "EBITDA (profit on operating activities - depreciation) / total assets",
    "X49" : "EBITDA (profit on operating activities - depreciation) / sales",
    "X50" : "current assets / total liabilities",
    "X51" : "short-term liabilities / total assets",
    "X52" : "(short-term liabilities * 365) / cost of products sold)",
    "X53" : "equity / fixed assets",
    "X54" : "constant capital / fixed assets",
    "X55" : "working capital",
    "X56" : "(sales - cost of products sold) / sales",
    "X57" : "(current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)",
    "X58" : "total costs /total sales",
    "X59" : "long-term liabilities / equity",
    "X60" : "sales / inventory",
    "X61" : "sales / receivables",
    "X62" : "(short-term liabilities *365) / sales",
    "X63" : "sales / short-term liabilities",
    "X64" : "sales / fixed assets",
    "X65" : "bankrupt = 1"

}

## Assign the column headings

In [4]:
# function to assign column headings ranging from X1 to X65  

def assign_columns(data_file):
    data_columns = []
    for i in range(64):
        if i < 9: 
            data_columns.append("X0" + str(i + 1))
        else:
            data_columns.append("X" + str(i + 1))    
    data_columns.append('Class')
    data_file.columns = data_columns

# assign column headings to each file    
assign_columns(df1)
assign_columns(df2)
assign_columns(df3)
assign_columns(df4)
assign_columns(df5)

# assign a new year column to each data file
df1['Year'] = 1
df2['Year'] = 2
df3['Year'] = 3
df4['Year'] = 4
df5['Year'] = 5

## Combine files into one dataframe

In [5]:
#  compile all dataframes into one complete dataframe

complete = [df1,df2,df3,df4,df5]
complete_df = pd.concat(complete, ignore_index = True)

## Inspect summary data

In [6]:
#call info method to inspect for null entries 

complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43405 entries, 0 to 43404
Data columns (total 66 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X01     43397 non-null  float64
 1   X02     43397 non-null  float64
 2   X03     43397 non-null  float64
 3   X04     43271 non-null  float64
 4   X05     43316 non-null  float64
 5   X06     43397 non-null  float64
 6   X07     43397 non-null  float64
 7   X08     43311 non-null  float64
 8   X09     43396 non-null  float64
 9   X10     43397 non-null  float64
 10  X11     43361 non-null  float64
 11  X12     43271 non-null  float64
 12  X13     43278 non-null  float64
 13  X14     43397 non-null  float64
 14  X15     43369 non-null  float64
 15  X16     43310 non-null  float64
 16  X17     43311 non-null  float64
 17  X18     43397 non-null  float64
 18  X19     43277 non-null  float64
 19  X20     43278 non-null  float64
 20  X21     37551 non-null  float64
 21  X22     43397 non-null  float64
 22  X23     43278 non-null  float64
 23  X24     42483 non-null  float64
 24  X25     43397 non-null  float64
 25  X26     43310 non-null  float64
 26  X27     40641 non-null  float64
 27  X28     42593 non-null  float64
 28  X29     43397 non-null  float64
 29  X30     43278 non-null  float64
 30  X31     43278 non-null  float64
 31  X32     43037 non-null  float64
 32  X33     43271 non-null  float64
 33  X34     43311 non-null  float64
 34  X35     43397 non-null  float64
 35  X36     43397 non-null  float64
 36  X37     24421 non-null  float64
 37  X38     43397 non-null  float64
 38  X39     43278 non-null  float64
 39  X40     43271 non-null  float64
 40  X41     42651 non-null  float64
 41  X42     43278 non-null  float64
 42  X43     43278 non-null  float64
 43  X44     43278 non-null  float64
 44  X45     41258 non-null  float64
 45  X46     43270 non-null  float64
 46  X47     43108 non-null  float64
 47  X48     43396 non-null  float64
 48  X49     43278 non-null  float64
 49  X50     43311 non-null  float64
 50  X51     43397 non-null  float64
 51  X52     43104 non-null  float64
 52  X53     42593 non-null  float64
 53  X54     42593 non-null  float64
 54  X55     43404 non-null  float64
 55  X56     43278 non-null  float64
 56  X57     43398 non-null  float64
 57  X58     43321 non-null  float64
 58  X59     43398 non-null  float64
 59  X60     41253 non-null  float64
 60  X61     43303 non-null  float64
 61  X62     43278 non-null  float64
 62  X63     43271 non-null  float64
 63  X64     42593 non-null  float64
 64  Class   43405 non-null  object
 65  Year    43405 non-null  int64
dtypes: float64(64), int64(1), object(1)
memory usage: 21.9+ MB

## Inspect data

In [7]:
#inspect first 20 columns
complete_df.tail(20)

,X01,X02,X03,X04,X05,X06,X07,X08,X09,X10,...,X57,X58,X59,X60,X61,X62,X63,X64,Class,Year
43385,0.097567,0.17856,0.465540,3.60720,49.349,0.000000,0.097567,4.600200,2.67580,0.821410,...,0.118780,0.96327,0.000000,24.1030,8.1366,24.357,14.98600,7.51850,b'1',5
43386,-0.100040,0.20498,0.538520,3.62710,-58.411,-0.100040,-0.077304,3.723700,0.51043,0.763300,...,-0.131070,1.95910,0.000000,2.5671,2.3404,270.310,1.35030,1.07930,b'1',5
43387,0.112350,1.73990,-0.514250,0.43445,-82.297,-0.322010,0.112350,-0.425240,3.41440,-0.739870,...,-0.151850,0.96072,-1.122600,12.9690,32.4040,97.205,3.75490,5.64380,b'1',5
43388,-0.089739,1.33000,-0.314680,0.67454,-124.530,-1.260700,-0.089739,-0.247990,2.23270,-0.329810,...,0.272090,0.79435,-0.428730,4.9425,15.4680,158.060,2.30920,6.41950,b'1',5
43389,-0.043676,1.09470,-0.105800,0.90335,-184.280,-0.074932,-0.043657,-0.086284,0.79372,-0.094454,...,0.462410,1.04670,0.000000,2.4797,1.8274,503.400,0.72507,71.93500,b'1',5
43390,-0.254870,0.74512,-0.092301,0.87613,-34.191,0.129500,-0.254870,0.342070,2.96310,0.254880,...,-0.999940,1.08610,0.000000,13.8890,7.0327,91.786,3.97660,8.53460,b'1',5
43391,-0.098161,1.20260,-0.414880,0.59535,-46.428,-0.382780,-0.087177,-0.168300,3.37090,-0.202390,...,0.485010,1.02520,0.000000,101.4200,6.4053,111.020,3.28770,8.65230,b'1',5
43392,-0.120980,0.64802,0.351980,1.54320,8.746,0.000000,-0.120980,0.543050,8.40550,0.351910,...,-0.343780,1.01460,0.000000,64.6560,10.8470,28.140,12.97100,NaN,b'1',5
43393,-3.046300,6.90690,-5.997000,0.13174,-137.270,-3.737600,-3.046300,-0.854960,13.47700,-5.905100,...,0.515870,1.20160,0.000000,86.6640,18.4510,187.060,1.95120,149.58000,b'1',5
43394,-0.370470,1.29920,-0.677770,0.47802,-207.020,-0.476540,-0.370470,-0.230370,0.95927,-0.299290,...,1.237800,1.36420,0.000000,12.0960,1.7817,494.060,0.73878,2.52570,b'1',5
43395,0.361470,0.25590,0.562760,9.75930,205.980,-0.325970,0.516340,2.907000,0.59282,0.743910,...,0.485910,0.57244,0.000000,3.3617,8.7628,39.557,9.22720,1.59020,b'1',5
43396,-0.084381,0.22485,0.097051,1.43160,-119.220,-0.084381,-0.084381,2.741800,0.76553,0.616500,...,-0.136870,1.30630,0.000000,1.7854,8.8316,226.370,1.61240,0.53491,b'1',5
43397,0.059436,0.54161,0.376720,2.01920,26.665,-0.275010,0.059436,0.846500,2.26430,0.458470,...,0.129640,0.82727,0.375110,10.6280,4.3093,59.584,6.12580,8.93020,b'1',5
43398,-0.076836,0.51194,0.196600,1.38590,-133.380,-0.076836,-0.074938,-0.245900,1.03000,-0.125890,...,0.610360,0.97087,-0.020175,1.9645,21.3700,155.100,2.35340,4.07770,b'1',5
43399,-0.283380,0.97794,-0.125140,0.64902,-56.126,-1.329800,-0.283380,0.022514,1.39430,0.022018,...,-12.871000,0.97208,24.893000,9.8129,16.6910,93.338,3.91050,1.81430,b'1',5
43400,0.012898,0.70621,0.038857,1.17220,-18.907,0.000000,0.013981,0.416000,1.67680,0.293790,...,0.043904,1.01220,1.259400,13.4720,12.4320,49.117,7.43130,2.27990,b'1',5
43401,-0.578050,0.96702,-0.800850,0.16576,-67.365,-0.578050,-0.578050,-0.403340,0.93979,-0.390040,...,1.482000,1.06410,-0.018084,110.7200,44.7590,81.220,4.49400,5.13050,b'1',5
43402,-0.179050,1.25530,-0.275990,0.74554,-120.440,-0.179050,-0.154930,-0.260180,1.17490,-0.326590,...,0.548240,0.85112,-0.522430,9.8526,3.4892,207.870,1.75590,9.95270,b'1',5
43403,-0.108860,0.74394,0.015449,1.08780,-17.003,-0.108860,-0.109180,0.125310,0.84516,0.093224,...,-1.167700,1.18320,6.092400,13.8860,6.0769,83.122,4.39110,0.95575,b'1',5
43404,-0.105370,0.53629,-0.045578,0.91478,-56.068,-0.105370,-0.109940,0.864600,0.95040,0.463670,...,-0.227250,1.05220,0.003196,7.7332,4.7174,136.850,2.66720,2.79270,b'1',5

## Inspect for unique bankrupt indicator

In [8]:
# run unique to ensure two qualifiers
complete_df['Class'].unique()

array([b'0', b'1'], dtype=object)

## Reclassify bankruptcy indicator

In [9]:
# change indicator to 0 or 1 
complete_df.loc[complete_df['Class'] == b'0', 'Class'] = 0
complete_df.loc[complete_df['Class'] == b'1', 'Class'] = 1
complete_df['Class'].unique()

array([0, 1], dtype=object)

## Compute missing value percentages

In [10]:
# compute percentages ranked of missing values by column
null_sum = complete_df.isnull().sum()
null_percent = (100 * complete_df.isnull().mean())
missing_col = pd.DataFrame({'count': null_sum , '%' : null_percent})
missing_col.sort_values(by='count', ascending = False)

       count          %
X37    18984  43.736897
X21     5854  13.486925
X27     2764   6.367930
X60     2152   4.957954
X45     2147   4.946435
...      ...        ...
X57        7   0.016127
X59        7   0.016127
X55        1   0.002304
Class      0   0.000000
Year       0   0.000000

[66 rows x 2 columns]

In [11]:
# Inspect missing values by row
missing_row = pd.concat([complete_df.isnull().sum(axis=1), 100 * complete_df.isnull().mean(axis=1)], axis=1)
missing_row.columns=['count', '%']
missing_row.sort_values(by='count', ascending=False).head(50)

       count          %
42379     41  62.121212
5395      40  60.606061
14383     36  54.545455
16255     35  53.030303
24709     35  53.030303
11596     35  53.030303
14298     35  53.030303
14352     35  53.030303
21518     34  51.515152
1900      33  50.000000
11227     33  50.000000
15531     33  50.000000
30601     32  48.484848
39278     32  48.484848
26530     30  45.454545
8859      30  45.454545
9610      28  42.424242
43375     28  42.424242
15006     25  37.878788
27563     25  37.878788
37309     25  37.878788
16421     24  36.363636
8278      24  36.363636
7489      23  34.848485
19131     23  34.848485
24657     23  34.848485
21873     23  34.848485
13932     23  34.848485
18012     23  34.848485
15903     23  34.848485
8138      23  34.848485
12787     23  34.848485
16894     23  34.848485
31587     22  33.333333
7361      22  33.333333
25242     22  33.333333
8522      22  33.333333
9587      22  33.333333
7487      22  33.333333
8848      22  33.333333
7416      22  33.333333
11092     22  33.333333
26246     22  33.333333
12972     22  33.333333
17543     22  33.333333
11572     22  33.333333
18736     22  33.333333
19070     22  33.333333
15078     22  33.333333
21370     22  33.333333

## Inspect descriptive statistics

In [12]:
#view statistics
complete_df.describe().T

,count,mean,std,min,25%,50%,75%,max
X01,43397.0,0.035160,2.994109,-4.638900e+02,0.003429,0.04966,0.12958,9.428000e+01
X02,43397.0,0.590212,5.842748,-4.308700e+02,0.268980,0.47190,0.68832,4.809600e+02
X03,43397.0,0.114431,5.439429,-4.799600e+02,0.021521,0.19661,0.40339,2.833600e+01
X04,43271.0,6.314702,295.434425,-4.031100e-01,1.049500,1.56980,2.78745,5.343300e+04
X05,43316.0,-385.346602,61243.025874,-1.190300e+07,-49.080000,-1.03450,50.63425,1.250100e+06
...,...,...,...,...,...,...,...,...
X61,43303.0,17.033202,553.049406,-1.265600e+01,4.510150,6.63630,10.39450,1.080000e+05
X62,43278.0,1502.327833,139266.699576,-2.336500e+06,42.144000,71.32600,117.22000,2.501600e+07
X63,43271.0,9.343074,124.177354,-1.543200e+00,3.097650,5.08760,8.59885,2.345400e+04
X64,42593.0,72.788592,2369.339482,-1.067700e+04,2.176800,4.28250,9.77620,2.947700e+05
Year,43405.0,2.939753,1.283975,1.000000e+00,2.000000,3.00000,4.00000,5.000000e+00

In [13]:
# Inspect bankruptcy counts  
complete_df['Class'].value_counts()

0    41314
1     2091
Name: Class, dtype: int64

In [14]:
# Inspect counts of year data
complete_df['Year'].value_counts()

3    10503
2    10173
4     9792
1     7027
5     5910
Name: Year, dtype: int64

In [15]:
# Inspect size of data table 
complete_df.shape

(43405, 66)

## Save data

In [16]:
# write cleaned data to file
complete_df.to_csv('bankruptcy_data_comb.csv', index=False)
missing_col.to_csv('missing_val_perc.csv', index = True)

with open('column_key.csv', 'w') as f:
    for key in column_dictionary.keys():
        f.write("%s,%s\n"%(key,column_dictionary[key]))